{{ $sectionID := replace (lower .section.name) " " "-" }}
{{ if .section.id }}
{{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 books-section" id="{{ $sectionID }}">
	{{ if not (.section.hideTitle) }}
	<h1 class="text-center">{{ .section.name }}</h1>
	{{ end }}
	<!--
                                           Read Books                                         
  -->

	<div class="container d-flex-block">
	<h2>Read</h2>

		<style type="text/css" media="screen">
			.gr_grid_container {
				/* customize grid container div here. eg: width: 500px; */
			}

			.gr_grid_book_container {
				/* customize book cover container div here */
				float: left;
				width: 98px;
				height: 160px;
				padding: 0px 0px;
				overflow: hidden;
			}
		</style>
		<div id="gr_grid_widget_1618080246">
			<!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
			<div class="gr_grid_container">
				<div class="gr_grid_book_container"><a title="Atlas der Weltgeschichte" rel="nofollow"
						href="https://www.goodreads.com/book/show/18349583-atlas-der-weltgeschichte"><img
							alt="Atlas der Weltgeschichte" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1376943377l/18349583._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Effective Altruism Handbook"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/25433309-effective-altruism-handbook"><img
							alt="Effective Altruism Handbook" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1434645518l/25433309._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Chess Opening Names: The Fascinating & Entertaining History Behind The First Few Moves"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/35692981-chess-opening-names"><img
							alt="Chess Opening Names: The Fascinating & Entertaining History Behind The First Few Moves"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1500292488l/35692981._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Play Winning Chess" rel="nofollow"
						href="https://www.goodreads.com/book/show/58146.Play_Winning_Chess"><img
							alt="Play Winning Chess" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386925433l/58146._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Theory and Reality: An Introduction to the Philosophy of Science"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/31931.Theory_and_Reality"><img
							alt="Theory and Reality: An Introduction to the Philosophy of Science"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1389387973l/31931._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Beethoven, Der einsame Revolutionär"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/23440993-beethoven-der-einsame-revolution-r"><img
							alt="Beethoven, Der einsame Revolutionär" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1414105781l/23440993._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Docker Deep Dive" rel="nofollow"
						href="https://www.goodreads.com/book/show/36411996-docker-deep-dive"><img
							alt="Docker Deep Dive" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1507995630l/36411996._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Intro to Jazz Piano: Hal Leonard Keyboard Style Series"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/24097997-intro-to-jazz-piano"><img
							alt="Intro to Jazz Piano: Hal Leonard Keyboard Style Series"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1419601522l/24097997._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Pro Git: Second Edition" rel="nofollow"
						href="https://www.goodreads.com/book/show/50346207-pro-git"><img
							alt="Pro Git: Second Edition" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1578387116l/50346207._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Concise Introduction to Tonal Harmony"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/26263913-concise-introduction-to-tonal-harmony"><img
							alt="Concise Introduction to Tonal Harmony" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1442843652l/26263913._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Investing Made Simple: Investing in Index Funds Explained in 100 Pages or Less"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/7132086-investing-made-simple"><img
							alt="Investing Made Simple: Investing in Index Funds Explained in 100 Pages or Less"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1397426734l/7132086._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Reinforcement Learning: An Introduction"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/739791.Reinforcement_Learning"><img
							alt="Reinforcement Learning: An Introduction" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348086685l/739791._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Foundations of Programming Languages (Undergraduate Topics in Computer Science)"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/24933056-foundations-of-programming-languages"><img
							alt="Foundations of Programming Languages" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1423922028l/24933056._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Linux Administration: The Linux Operating System and Command Line Guide for Linux Administrators"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/28965488-linux-administration"><img
							alt="Linux Administration: The Linux Operating System and Command Line Guide for Linux Administrators"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1454980395l/28965488._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Linux for Beginners" rel="nofollow"
						href="https://www.goodreads.com/book/show/20447117-linux-for-beginners"><img
							alt="Linux for Beginners" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388963211l/20447117._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Command Line Kung Fu: Bash Scripting Tricks, Linux Shell Programming Tips, and Bash One-liners"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/21945897-command-line-kung-fu"><img
							alt="Command Line Kung Fu: Bash Scripting Tricks, Linux Shell Programming Tips, and Bash One-liners"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1398613479l/21945897._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Eloquent JavaScript: A Modern Introduction to Programming"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/8910666-eloquent-javascript"><img
							alt="Eloquent JavaScript: A Modern Introduction to Programming"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1308260856l/8910666._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Shell Scripting: How to Automate Command Line Tasks Using Bash Scripting and Shell Programming"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/26632044-shell-scripting"><img
							alt="Shell Scripting: How to Automate Command Line Tasks Using Bash Scripting and Shell Programming"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1442523966l/26632044._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/10127019-the-lean-startup"><img
							alt="The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1333576876l/10127019._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Introduction to Networking: How the Internet Works"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/25616802-introduction-to-networking"><img
							alt="Introduction to Networking: How the Internet Works"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1434305920l/25616802._SX98_.jpg" /></a>
				</div>
			</div>

		</div>
		<script
			src="https://www.goodreads.com/review/grid_widget/132521416.Books%20read?cover_size=medium&hide_link=true&hide_title=true&num_books=200&order=d&shelf=read&sort=date_added&widget_id=1618080246"
			type="text/javascript" charset="utf-8"></script>

	</div>


	<div class="container d-flex-block">
		<h2>Reading</h2>
		<style type="text/css" media="screen">
			.gr_grid_container {
				/* customize grid container div here. eg: width: 500px; */
			}

			.gr_grid_book_container {
				/* customize book cover container div here */
				float: left;
				width: 98px;
				height: 160px;
				padding: 0px 0px;
				overflow: hidden;
			}
		</style>
		<div id="gr_grid_widget_1618080287">
			<!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
			<div class="gr_grid_container">
				<div class="gr_grid_book_container"><a
						title="Pandolfini's Endgame Course: Basic Endgame Concepts Explained by America's Leading Chess Teacher"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/83340.Pandolfini_s_Endgame_Course"><img
							alt="Pandolfini's Endgame Course: Basic Endgame Concepts Explained by America's Leading Chess Teacher"
							border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1360595067l/83340._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Winning Chess Strategies" rel="nofollow"
						href="https://www.goodreads.com/book/show/85082.Winning_Chess_Strategies"><img
							alt="Winning Chess Strategies" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328701711l/85082._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="The Oxford Dictionary of Philosophy"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/193548.The_Oxford_Dictionary_of_Philosophy"><img
							alt="The Oxford Dictionary of Philosophy" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388629205l/193548._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Exploring Jazz Piano - Volume 1 (The Schott Pop Styles Series)"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/1103601.Exploring_Jazz_Piano_Volume_1"><img
							alt="Exploring Jazz Piano - Volume 1" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348318534l/1103601._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Deep Reinforcement Learning in Action"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/50075895-deep-reinforcement-learning-in-action"><img
							alt="Deep Reinforcement Learning in Action" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1585300837l/50075895._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Reinforcement Learning and Optimal Control" rel="nofollow"
						href="https://www.goodreads.com/book/show/45305753-reinforcement-learning-and-optimal-control"><img
							alt="Reinforcement Learning and Optimal Control" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1556258775l/45305753._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="The Essentials of Modern Software Engineering" rel="nofollow"
						href="https://www.goodreads.com/book/show/51629636-the-essentials-of-modern-software-engineering"><img
							alt="The Essentials of Modern Software Engineering" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1563296235l/51629636._SX98_SY160_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="The Penguin History of the World"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/18925701-the-penguin-history-of-the-world"><img
							alt="The Penguin History of the World" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1475977973l/18925701._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a
						title="Quantum Mechanics: The Theoretical Minimum (Theoretical Minimum #2)"
						rel="nofollow"
						href="https://www.goodreads.com/book/show/18210750-quantum-mechanics"><img
							alt="Quantum Mechanics: The Theoretical Minimum" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1391609128l/18210750._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Neuroscience" rel="nofollow"
						href="https://www.goodreads.com/book/show/15939503-neuroscience"><img
							alt="Neuroscience" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1354428823l/15939503._SX98_.jpg" /></a>
				</div>
				<div class="gr_grid_book_container"><a title="Code Complete" rel="nofollow"
						href="https://www.goodreads.com/book/show/4845.Code_Complete"><img
							alt="Code Complete" border="0"
							src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1396837641l/4845._SX98_.jpg" /></a>
				</div>
			</div>

		</div>
		<script
			src="https://www.goodreads.com/review/grid_widget/132521416.pwenker's%20currently-reading%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=200&order=d&shelf=currently-reading&sort=date_added&widget_id=1618080287"
			type="text/javascript" charset="utf-8"></script>


	</div>
</div>
